@import "base", "header","footer";
.contarner{
	width:100%;
    height:auto;
    overflow:hidden;
}
.banner{
	position:relative;
	width:100%;
	img{ 
		width:100%;
	}
	.login{
		position:absolute;
	    top:50%;
	    left:50%;
	    z-index:1;
	    margin-left:-602px;
	    margin-top:-180px;
		.login-container{
			position:absolute;
			right:0;
			background-color:#fff;
			padding:20px;
			width:384px;
			height:360px;
			overflow:hidden;
			ul{
				position:relative;
				width:100%;
				height:56px;
				li{
					float:left;
					width:50%;
					text-align:center;
					color:#8a8a8a;
					font:16px/56px "Microsoft YaHei","Helvetica Neue";
					cursor: pointer;
				}
				.active{
					font:bold 18px/56px "Microsoft YaHei","Helvetica Neue";
					color:#555;
				}
				.line{
                    position:absolute;
                    width:36%;
                    height:3px;
                    background-color:#edb60c;
                    left:7%;
                    bottom:0;
					-moz-transition: left .5s; /* Firefox 4 */
					-webkit-transition: left .5s; /* Safari 和 Chrome */
					-o-transition: left .5s; /* Opera */
                    transition: left .5s;
				}
			}
			.login-list{
				.form{
                    display:none;
                    .input-list{
                     	width:100%;
                     	height:46px;
                     	background-color:#eee;
                     	margin-top:20px;
                     	i{
                     		margin: 10px 10px 0;
                     		width: 27px;
                     		height:27px;
                     		float: left;
                     		display:block;
                     		background-image:url("../images/wasp.png");
                     		background-repeat: no-repeat;
                     	}
                     	input{
                     		float:left;
                     		width:280px;
                     		height:100%;
                     		background:none;
                     		border:none;
                     		outline:none;
                     		font:16px/46px "Microsoft YaHei","Helvetica Neue";
                     	}
                    }
                    .name{
                     	i{
                     		background-position: -105px 0;
                     	}
                     }
                    .password{
                        i{
                         	background-position: -142px 0;
                        }
                    }
                    .btn{
                     	margin-top:20px;
                     	width: 344px;
					    height:auto;
					    overflow:hidden;
                     	a{
                     		float:left;
                            display:block;
                            width:162px;
                            text-decoration:none;
                            text-align:center;
                            font:16px/46px "Microsoft YaHei","Helvetica Neue";
                     	}
                     	.login-btn{	
                     		background-color:#f9b90a;
                     		color:#1f1f1f;
                     	}
                     	.register-btn{
                     		margin-left:20px;
                            color:#fab115;
                            border:2px solid #fab115;
                            line-height:42px;
                     	}
                    }
                    .forget-password{
                    	margin-top:10px;
                     	width:100%;
					    height:auto;
					    overflow:hidden;
					    font:14px/1.5 "Microsoft YaHei","Helvetica Neue";
					    span{
					    	color:#a0a0a0;
					    	input{
					    	    vertical-align: middle;
					    	}
					    }
					    a{
					    	color:#a0a0a0;
					    	float: right;
					    	text-decoration:none;
					    }
                    }
                    .third-party{
                    	margin-top:10px;
					    height:auto;
					    overflow:hidden;
					    float:right;
                    	a{
                            width:29px;
                     		height:28px;
                     		float: left;
                     		display:block;
                     		background-image:url("../images/wasp.png");
                     		background-repeat: no-repeat;
                     		margin-left:10px;
                    	}
                    	.Wechat{
                    		background-position: 0 0;
                    	}
                    	.microblog{
                    		background-position: -34px 0;
                    	}
                    	.qq{
                    		background-position: -70px 0;
                    	}
                    }
				}
			}
		}
	}
}
.icon-list{
	width:100%;
	padding:30px 0;
	height: auto;
    overflow: hidden;
	.list-text{
		float:left;
		width: 160px;
        margin:20px 40px;
		text-align:center;
		padding:30px 20px;
		cursor:pointer;
		border:1px solid #fff;
        -moz-transition: all .5s; /* Firefox 4 */
		-webkit-transition: all .5s; /* Safari 和 Chrome */
		-o-transition: all .5s; /* Opera */
	    transition: all .5s;
		.top{
			padding:26px;
			margin:0 auto;
			border:1px solid #f9b90a;
			border-radius:100%;
			i{
				display:block;
				width:68px;
				height:68px;
				background-image:url("../images/wasp.png");
	            background-repeat: no-repeat;
			}
		}
		
		h2{
			font:16px/2.4 "Microsoft YaHei","Helvetica Neue";
			color:#545454;
		}
		p{
			font:12px/1.5 "Microsoft YaHei","Helvetica Neue";
			color:#9a9a9a;
		}
	}
	.effect{
		.top{
			i{
	            background-position:-10px -48px;
			}
		}
	}
	.praise{
        .top{
        	padding:26px 17px;
			i{
	            background-position: -102px -48px;
                width: 86px;
			}
		}
	}
	.directional{
        .top{
        	padding:22.5px;
			i{
				width:75px;
				height:75px;
	            background-position:-210px -46px;
			}
		}
	}
	.marketing{
        .top{
        	padding:17.5px 23.5px;
			i{
				width:77px;
				height:85px;
	            background-position:-340px -35px;
			}
		}
	}
	.data{
        .top{
			i{
	            background-position:-458px -48px;
			}
		}
	}
	.active{
		border:1px solid #efefef;
		-moz-box-shadow:-5px 0 5px #f2f2f2, /*左边阴影*/  
				    5px 0 5px #f2f2f2, /*右边阴影*/  
				    0 0 2px #f2f2f2, /*顶部阴影*/    
				    0 5px 5px #f2f2f2; /*底边阴影*/
		-webkit-box-shadow:-5px 0 5px #f2f2f2, /*左边阴影*/  
				    5px 0 5px #f2f2f2, /*右边阴影*/  
				    0 0 2px #f2f2f2, /*顶部阴影*/    
				    0 5px 5px #f2f2f2; /*底边阴影*/
        box-shadow:-5px 0 5px #f2f2f2, /*左边阴影*/  
				    5px 0 5px #f2f2f2, /*右边阴影*/  
				    0 0 2px #f2f2f2, /*顶部阴影*/  
				    0 5px 5px #f2f2f2; /*底边阴影*/      
	}
	.effect.active{
		.top{
	    	background-color: #f9b90a;
	    	i{
	    		background-position:-10px -125px;
	    	}
	    }
	}
	.praise.active{
        .top{
        	padding:26px 17px;
        	background-color: #f9b90a;
			i{
	            background-position: -102px -125px;
                width: 86px;
			}
		}
	}
	.directional.active{
        .top{
        	padding:22.5px;
        	background-color: #f9b90a;
			i{
				width:75px;
				height:75px;
	            background-position:-210px -120px;
			}
		}
	}
	.marketing.active{
        .top{
        	padding:17.5px 23.5px;
        	background-color: #f9b90a;
			i{
				width:77px;
				height:85px;
	            background-position:-340px -120px;
			}
		}
	}
	.data.active{
        .top{
        	background-color: #f9b90a;
			i{
	            background-position:-458px -125px;
			}
		}
	}
}
.live-telecast{
	margin-top:30px;
	padding:20px 0;
	width:100%;
	height: auto;
	background:url("../images/live_telecast_bg.png") no-repeat;
	.live-top{
		width:100%;
		margin-top:-80px;
		height: auto;
		overflow:hidden;
		ul{
			width:374px;
		    height:60px;
		    margin:0 auto;
		    li{
		    	float:left;
		    	width:186px;
		    	font:24px/60px "Microsoft YaHei","Helvetica Neue";
		    	text-align:center;
		    	cursor:pointer;
		    }
		    .live-telecast-list{
		    	i{
		    		width:34px;
		    		height:32px;
		    		display:inline-block;
		    		background:url("../images/wasp.png") -175px 0 no-repeat;
		    		vertical-align: middle;
		    		margin-right: 10px;
		    	}
		    }
		    .video{
		    	i{
		    		width:38px;
		    		height:36px;
		    		display:inline-block;
		    		background:url("../images/wasp.png") -265px 0 no-repeat;
		    		vertical-align: middle;
		    		margin-right: 10px;
		    	}
		    }
		    .active{
		    	border:1px solid #747474;
		    	border-bottom:0;
		    	font:bold 30px/60px "Microsoft YaHei","Helvetica Neue";
		    }
		}
	}
	.live-text{
		.live-text-list{
			display:none;
		}
		.title-info{
			padding:10px 0;
			width:100%;
	    	font:12px/2 "Microsoft YaHei","Helvetica Neue";
	    	color:#fff;
	    	text-align:center;
		}
		.text-ul{
			width:100%;
			height: auto;
			ul{
				width:918px;
				height: auto;
			    overflow:hidden;
				margin:0 auto;
				li{
					float:left;
					width:102px;
					color:#fff;
					font:18px/2 "Microsoft YaHei","Helvetica Neue";
					text-align:center;
					cursor:pointer;
				}
				.active{
					font-weight:bold;
				}
			}
			.live-text-list-container{
				width:1244px;
				margin-left:-40px;
				height: auto;
			    overflow:hidden;
			    background:rgba(255,255,255,.5);
			    .list{
			    	padding:20px;
			    	height: auto;
			        overflow:hidden;
			        display:none;
			    	.big-img-list{
			    		position:relative;
			    		float:left;
			    		width:240px;
			    		height:183px;
			    		text-align:center;
			    		vertical-align: middle;
			    		font-size:0;
			    		cursor:pointer;
			    		img{
			    			min-height:100%;
			    			min-weight:100%;
			    			vertical-align: middle;
			    		}
			    		.layer-list{
			    			position:absolute;
			    			top:0;
			    			right:0;
			    			bottom:0;
			    			left:0;
			    			display:none;
			    			background:rgba(0,0,0,.8);
			    			h3{
			    				padding-top:30px;
			    				font:18px/2 "Microsoft YaHei","Helvetica Neue";
			    				color:#fff;
			    			}
			    			p{
			    				padding:0 50px;
			    				font:14px/1.2 "Microsoft YaHei","Helvetica Neue";
			    				color:#fff;
			    				text-align:left;
			    				span{
			    					color:#ffb800;
			    				}
			    			}
			    			a{
			    				margin:10px auto 0;
			    				display:block;
			    				width:36%;
			    				background-color:#ffb800;
			    				font:14px/2 "Microsoft YaHei","Helvetica Neue";
			    				text-decoration:none;
			    				color:#fff;
			    			}
			    		}
			    	}
			    	.active{
			    		.layer-list{
			    			display:block;
			    		}
			    	}
			    	.small-img-list{
			    		float:left;
			    		width:133px;
			    		height:102px;
			    		text-align:center;
			    		vertical-align: middle;
			    		font-size:0;
			    		img{
			    			min-height:100%;
			    			min-weight:100%;
			    			vertical-align: middle;
			    		}
			    	}
			    }
			}
		}
	}	
}
.title{
	position:relative;
	height: auto;
	border-bottom:2px solid #9b9b9b;
	h3{
		position:absolute;
		left:40px;
		top:-35px;
		width:230px;
		height:70px;
		font:bold 30px/70px "Microsoft YaHei","Helvetica Neue";
		color:#000;
		border:2px solid #9b9b9b;
		border-bottom:2px solid #fff;
		text-align:center;
	}
	p{
		font:14px/2.4 "Microsoft YaHei","Helvetica Neue";
		margin-left:280px;
		color:#6f6f6f;
	}
}
.WeChat-title{
	i{
		width:42px;
		height:31px;
		background:url("../images/wasp.png") -360px 0 no-repeat;
		display:inline-block;
		margin-right: 10px;
		vertical-align: middle;
	}
}
.Micro-title{
	i{
		width:42px;
		height:38px;
		background:url("../images/wasp.png") -415px 0 no-repeat;
		display:inline-block;
		margin-right: 10px;
		vertical-align: middle;
	}
}
.soft-title{
	i{
		width:34px;
		height:31px;
		background:url("../images/wasp.png") -470px 0 no-repeat;
		display:inline-block;
		margin-right: 10px;
		vertical-align: middle;
	}
}
.bee-title{
	i{
		width:40px;
		height:36px;
		background:url("../images/wasp.png") -513px 0 no-repeat;
		display:inline-block;
		margin-right: 10px;
		vertical-align: middle;
	}
}
.specialist-title{
	i{
		width:34px;
		height:36px;
		background:url("../images/wasp.png") -560px 0 no-repeat;
		display:inline-block;
		margin-right: 10px;
		vertical-align: middle;
	}
}
.WeChat-promotion{
	width:100%;
	height:auto;
	padding:70px 0 40px 0;
	background-color:#fff;
	.WeChat-nav{
		width:918px;
		height: auto;
	    overflow:hidden;
		margin:20px auto;
		li{
			float:left;
			width:102px;
			color:#000;
			font:18px/2 "Microsoft YaHei","Helvetica Neue";
			text-align:center;
			cursor:pointer;
		}
		.active{
			font-weight:bold;
		}
	}
	.WeChat-text-all{
		.WeChat-text-list{
			display:none;
			.list-top{
				padding:0 20px;
				width: 100%;
			    height: auto;
			    overflow: hidden;
				li{
					float:left;
                    width:33.33333%;
                    .name{
                    	height: auto;
	                    overflow:hidden;
	                    margin-bottom:20px;
                    	img{
                    		float:left;
                            width:90px;
                            height:90px;
                    	}
                    	.text{
                            margin-left:100px;
                            h3{
                                font:bold 16px/1.5 "Microsoft YaHei","Helvetica Neue";
                            }
                            h4{
                                font:14px/1.2 "Microsoft YaHei","Helvetica Neue";
                            }
                            .text-num{
                            	margin-top:10px;
                            	dd{
                            		float:left;
                            		margin-right:10px;
                            		width:50px;
                            		p{
                            			font:14px/1.2 "Microsoft YaHei","Helvetica Neue";
                            			color:#242424;
                            			text-align:center;
                            		}
                            		.num{
                        				color:#fa8615;
                        			}
                            	}
                            }
                    	}
                    }
                    a{
                    	margin:0 auto;
                    	display:block;
                    	width:86px;
                    	height:30px;
                        background-color:#ffbe17;
                        font:13px/30px "Microsoft YaHei","Helvetica Neue";
                        color:#000;
                        text-align:center;
                        text-decoration:none;
                    }
				}
			}
			.list-bottom{
				margin-top:20px;
				height:auto;
				overflow:hidden;
				width:100%;
				background-color:#eee;
				li{
					float:left;
					width:200px;
					text-align:center;
					padding:20px 10px;
					h3{
						font:bold 16px/1.5 "Microsoft YaHei","Helvetica Neue";
						color:#515151;
					}
					.text-num{
                    	margin-top:10px;
                    	height:auto;
				        overflow:hidden;
                    	dd{
                    		float:left;
                    		width:60px;
                    		p{
                    			font:14px/1.2 "Microsoft YaHei","Helvetica Neue";
                    			color:#242424;
                    			text-align:center;
                    		}
                    		.num{
                				color:#fa8615;
                			}
                    	}
                    }
                    a{
                    	margin:20px auto 0;
                    	display:block;
                    	width:86px;
                        border:1px solid #ffbe17;
                        font:13px/1.5 "Microsoft YaHei","Helvetica Neue";
                        color:#ffbe17;
                        text-align:center;
                        text-decoration:none;
                    }
                    .more{
                    	margin-top:10px;
                    	width:100%;
                    	border:none;
                    	img{
                    		width:100%;
                    	}
                    }
				}
			}
		}
	}
}
.Micro-blog{
	width:100%;
	height:auto;
	padding:70px 0 40px 0;
	background-color:#fff;
	.Micro-container{
		padding:10px 0 30px 0;
		margin-top: 20px;
		width:100%;
		height:auto;
		background:url("../images/live_telecast_bg.png") no-repeat;
	}
	.Micro-nav{
		width:918px;
		height: auto;
	    overflow:hidden;
		margin:20px auto;
		li{
			float:left;
			width:102px;
			color:#000;
			font:18px/2 "Microsoft YaHei","Helvetica Neue";
			text-align:center;
			cursor:pointer;
		}
		.active{
			font-weight:bold;
		}
	}
	.Micro-text-all{
		.Micro-text-list{
			display:none;
			.Micro-top{
				height:auto;
				overflow:hidden;
				li{
					width:50%;
					float:left;
					img{
						float:left;
					}
					.name{
						float:left;
						width:140px;
						margin:40px 0 0 10px;
						h3{
							font:18px/2 "Microsoft YaHei","Helvetica Neue";
							color:#565656;
						}
						dl{
							height: auto;
                            overflow: hidden;
							dd{
								float:left;
								width:60px;
								p{
									font:14px/1.2 "Microsoft YaHei","Helvetica Neue";
								}
							}
						}
						a{
							margin-top:10px;
						    display: block;
						    width: 86px;
						    background-color: #ffbe17;
						    font: 13px/1.8 "Microsoft YaHei","Helvetica Neue";
						    color: #000;
						    text-align: center;
						    text-decoration: none;
						}
					}
					.microChart{
                        float:left;
					}
				}
			}
			.Micro-bottom{
				margin-top:20px;
				height:auto;
				overflow:hidden;
				width:100%;
				li{
					float:left;
					width:200px;
					text-align:center;
					padding:20px 10px;
					img{
						width:80px;
					}
					h3{
						font:bold 16px/1.5 "Microsoft YaHei","Helvetica Neue";
						color:#515151;
					}
					.name{
                    	margin-top:10px;
                    	height:auto;
				        overflow:hidden;
				        dl{
				        	height:auto;
				            overflow:hidden;
				            margin-left:30px;
				        }
                    	dd{
                    		float:left;
                    		width:60px;
                    		p{
                    			font:14px/1.2 "Microsoft YaHei","Helvetica Neue";
                    			color:#434343;
                    			text-align:center;
                    		}
                    		.num{
                				font-weight: bold;
                				color:#000;
                			}
                    	}
                    }
                    a{
                    	margin:20px auto 0;
                    	display:block;
                    	width:70px;
                        border:1px solid #434343;
                        font:13px/1.5 "Microsoft YaHei","Helvetica Neue";
                        color:#434343;
                        text-align:center;
                        text-decoration:none;
                    }
                    .more{
                    	margin-top:10px;
                    	width:100%;
                    	border:none;
                    	img{
                    		width:100%;
                    	}
                    }
				}
			}
		}
	}
}
.soft-wen{
	width:100%;
	height:auto;
	padding:70px 0 40px 0;
	background-color:#fff;
	.soft-nav{
		width:800px;
		height: auto;
	    overflow:hidden;
		margin:20px auto;
		li{
			float:left;
			width:200px;
			color:#000;
			font:18px/2 "Microsoft YaHei","Helvetica Neue";
			text-align:center;
			cursor:pointer;
		}
		.active{
			font-weight:bold;
		}
	}
	.soft-text-all{
		.soft-text-list{
			display:none;
			.soft-top{
				padding:0 20px;
				width: 100%;
			    height: auto;
			    overflow: hidden;
				li{
				    float: left;
				    width: 194px;
				    text-align: center;
				    padding:10px 5px;
				    a{
				    	text-decoration:none;
				    	color:#000;
				    }
				    .img{
				    	border:1px solid #f2f2f2;
				    	overflow: hidden;
					    text-align: center;
					    vertical-align: middle;
					    img{
					    	vertical-align: middle;
					    	max-width: 100%;
   							max-height: 100%;
					    }
				    }
				    p{
				    	font:12px/2 "Microsoft YaHei","Helvetica Neue";
				    }
				}
			}
			.soft-bottom{
				margin-top:20px;
				height:auto;
				overflow:hidden;
				width:100%;
				li{
					float:left;
					width:300px;
					text-align:center;
					padding:10px;
					overflow: hidden;
				    text-align: center;
				    vertical-align: middle;
					a{
				    	text-decoration:none;
				    	color:#000;
				    	img{
				    		vertical-align: middle;
					    	max-width: 100%;
   							max-height: 100%;
				    	}
				    }
				}
			}
		}
	}
}
.bee-effect{
	width:100%;
	height:auto;
	padding:70px 0 40px 0;
	background-color:#fff;
	.bee-container{
		padding:10px 0 30px 0;
		margin-top: 20px;
		width:100%;
		height:auto;
		overflow:hidden;
		background:url("../images/bee_bg.jpg") no-repeat;
		.bee-nav{
			float:left;
			padding:80px 25px;
			li{
				margin:10px 0;
				width:150px;
				font:18px/60px "Microsoft YaHei","Helvetica Neue";
				border:2px solid #fff;
				color:#fff;
				text-align:center;
				cursor:pointer;
			}
			.active{
                color:#354e47;
                background-color:#fff
			}
		}
		.bee-text-all{
			margin-left:220px;
			.bee-text-list{
				display:none;
				height:auto;
				overflow:hidden;
			}
			.bee-content{
                 padding:48px 0;
				.bee-content-list{
					float:left;
                    width:316px;
                    height:110px;
                    background-color:#fff;
                    padding:7px 0 0 10px;
                    margin:0 10px 10px 0;
                    img{
                    	float:left;
                    	width:96px;
                    	height:97px;
                    }
                    .name{
                    	margin-left:106px;
                    	h3{
                    		font:bold 18px/1.5 "Microsoft YaHei","Helvetica Neue";
                    	    color:#000;
                    	}
                    	p{
                    		font:12px/1.5 "Microsoft YaHei","Helvetica Neue";
                    		color:#ff9c00;
                    	}
                    	a{
                    		margin-top:5px;
						    display: block;
						    width:74px;
						    border: 1px solid #ffbe17;
						    font: 12px/1.5 "Microsoft YaHei","Helvetica Neue";
						    color: #ffbe17;
						    text-align: center;
						    text-decoration: none;
                    	}
                    }
                    h2{
                       font: 30px/1.5 "Microsoft YaHei","Helvetica Neue";
                       text-align:center;
                       color:#000;
                    }
                    a{
                    	display:block;
                    	font: 18px/1.5 "Microsoft YaHei","Helvetica Neue";
                    	text-align:right;
                    	text-decoration: none;
                    	color:#000;
                    }
				}
				.bee01{
					background:linear-gradient(-45deg, transparent 2em, #fff 0);
					margin:45px 20px 20px 35px;
				}
				.bee02{
					background:linear-gradient(-45deg, transparent 2em, #fff 0);
				}
				.bee03{
					background:linear-gradient(135deg, transparent 2em, #fff 0);
					margin:80px 0 20px -30px;
				}
				.bee04{
					background:linear-gradient(45deg, transparent 2em, #fff 0);
					margin:-30px 20px 0 -10px;
				}
				.bee05{
					background:linear-gradient(135deg, transparent 2em, #fff 0);
					margin:-80px 20px 20px 0;
				}
				.bee06{
					background:linear-gradient(-135deg, transparent 2em, #fff 0);
					margin:0 0 0 5px;
				}
				.bee07{
					background:linear-gradient(45deg, transparent 2em, #fff 0);
					margin:-60px 0 0 330px;
					height:auto;
					padding:10px 30px;
				}
			}
		}
	}
}
.specialist{
	width:100%;
	height:auto;
	overflow:hidden;
	padding:70px 0 40px 0;
	background-color:#fff;
	.specialist-list{
		float:left;
		margin:60px 10px 0;
		width:280px;
		height:456px;
		overflow:hidden;
		border:1px solid #eee;
		box-shadow:-3px 0 10px rgba(0,0,0,.1), /*左边阴影*/  
	    3px 0 10px rgba(0,0,0,.1), /*右边阴影*/  
	    0 -3px 10px rgba(0,0,0,.1), /*顶部阴影*/  
	    0 3px 10px rgba(0,0,0,.1); /*底边阴影*/ 
		font-size:0;
		cursor:pointer;
		&:nth-child(2n){
			margin-top:100px;
		}
		h2{
			padding:10px 0 0 10px;
			font:bold 24px/2 "Microsoft YaHei","Helvetica Neue";
			color:#000;
			span{
				font-size:18px;
				font-weight:normal;
			}
		}
		p{
			padding:0 10px 10px 50px;
			font:14px/1.2 "Microsoft YaHei","Helvetica Neue";
		}
	}
	.front{	
	    height:360px;		
		img{
			width:100%;
			height:auto;
		}
	}
	.reverse{
		background-color:#fff;
		height:360px;
		-moz-transition: all .5s; /* Firefox 4 */
		-webkit-transition: all .5s; /* Safari 和 Chrome */
		-o-transition: all .5s; /* Opera */
		transition:all .5s;
		p{
			padding:10px 10px 10px 10px;
			font:14px/1.5 "Microsoft YaHei","Helvetica Neue";
		}
	}
	.active{
		.reverse{
			-ms-transform:translate(0 ,-100%);	/* IE 9 */
			-moz-transform:translate(0 ,-100%); 	/* Firefox */
			-webkit-transform:translate(0 ,-100%); /* Safari 和 Chrome */
			-o-transform:translate(0 ,-100%); 	/* Opera */
			transform: translate(0 ,-100%);
		}
	}
}
.successful{
	margin-top:100px;
	width:100%;
	height:auto;
    overflow:hidden;
	.successful-title{
		text-align:center;
		margin-bottom:20px;
		h2{
			position:relative;
            font:bold 30px/2 "Microsoft YaHei","Helvetica Neue";
            color:#000;
            &:before{
               position:absolute;
               left:50%;
               bottom:15px;
               content:"";
               width:300px;
               height:1px;
               margin-left:-370px;
               background-color:#333;
            }
            &:after{
               position:absolute;
               right:50%;
               bottom:15px;
               content:"";
               width:300px;
               height:1px;
               margin-right:-370px;
               background-color:#333;
            }
		}
		p{
            font:14px/2 "Microsoft YaHei","Helvetica Neue";
            color:#6f6f6f;
		}
	}
	.successful-container{
		background:url("../images/successful_bg.jpg") no-repeat;
		height:auto;
        overflow:hidden;
        padding:30px 0 60px 0;
	}
	.successful-ul{
		margin:0 auto;
		width:725px;
		height:auto;
        overflow:hidden;
		li{
			width:161px;
			height:185px;
			background-image:url("../images/wasp.png");
            background-repeat: no-repeat;
            background-position:0 -205px;
            float:left;
            margin:0 10px;
            padding:60px 0 0 0;
            text-align:center;
            cursor:pointer;
            i{
                margin:0 auto;
            	width:36px;
            	height:29px;
            	display:block;
                background-image:url("../images/wasp.png");
	            background-repeat: no-repeat;
            }
            .i-list1{
	            background-position:-1px -423px;
            }
            .i-list2{
	            background-position:-50px -423px;
	            height:40px;
            }
            .i-list3{
            	background-position:-287px -420px;
	            width:36px;
	            height:40px; 
            }
            .i-list4{
            	background-position:-108px -423px;
	            width: 42px;
                height: 40px; 
            }
            .i-list5{
            	background-position:-174px -420px;
	            width:36px;
                height:38px;    
            }
            .i-list6{
                background-position:-232px -420px;
	            height:32px;
            }
            h3{
               font:bold 20px/2 "Microsoft YaHei","Helvetica Neue";	
               color:#000;
            }
            a{
            	text-decoration:none;
            	color:#666;
            	p{
                    font:14px/1.5 "Microsoft YaHei","Helvetica Neue";	
            	}
            	h3{
            		font-weight:100;
                    font:30px/1.5 "Microsoft YaHei","Helvetica Neue";
            	}
            }
		}
		.active{
			background-position:-162px -205px;
			 .i-list1{
	            background-position:-1px -423px;
            }
            .i-list2{
	            background-position:-50px -423px;
	            height:40px;
            }
            .i-list3{
            	background-position:-287px -420px;
	            width:36px;
	            height:40px; 
            }
            .i-list4{
            	background-position:-108px -423px;
	            width: 42px;
                height: 40px; 
            }
            .i-list5{
            	background-position:-174px -420px;
	            width:36px;
                height:38px;    
            }
            .i-list6{
                background-position:-232px -420px;
	            height:32px;
            }
			h3{
				color:#fff;
			}
			a{
            	text-decoration:none;
            	color:#fff;
            }
		}
		.one{
			margin-left:100px;
		}
		.bottom{
			margin-top:-35px
		}
	}
	.successful-text-all{
		margin-top:40px;
		.successful-text-list{
			display:none;
			width:100%;
			font-size:0;
			height:auto;
			overflow:hidden;
			background:rgba(255,255,255,.5);
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff,endColorstr=#7fffffff);  //兼容IE8
			img{
				float:left;
				width:433px;
				height:246px;
			}
			.info-text{
				margin-left:433px;
				padding:20px;
				h2{
					 font:bold 24px/2 "Microsoft YaHei","Helvetica Neue";	
					 color:#000；
				}
				h3{
					 font:16px/1.5 "Microsoft YaHei","Helvetica Neue";	
					 color:#000；
				}
				p{
					 font:14px/1.5 "Microsoft YaHei","Helvetica Neue";
					 color:#000；	
				}
			}
			a{
				position:absolute;
				margin:8px 0 0 1084px;
			    display:block;
                width:120px;
                font:14px/30px "Microsoft YaHei","Helvetica Neue";
                text-decoration:none;
                text-align:center;
                color:#000;
                background-color:#e3a600;
			}
		}
	}
}
.link{
	width:100%;
	height:auto;
    overflow:hidden;
    padding:100px 0;
    .link-title{
    	width:100%;
		height:auto;
	    overflow:hidden;
    	h2{
    		font:36px/2 "Microsoft YaHei","Helvetica Neue";
    		color:#000;	
    		text-align:center;
    		span{
    			font-weight:bold;
    		}
    	}
    	ul{
    		padding:0 50px;
    		li{
    			float:left;
    			width:33.3333%;
    			text-align:center;
    			h3{
                    font:32px/2 "Microsoft YaHei","Helvetica Neue";
                    color:#414141;
    			}
    			p{
                    font:12px/2 "Microsoft YaHei","Helvetica Neue";
                    color:#414141;
    			}
    		}
    	}
    }
    .link-img{
    	margin-top:100px;
    	width:100%;
		height:auto;
	    overflow:hidden;
    	ul{
    		li{
    			float:left;
			    width: 194px;
			    text-align: center;
			    padding: 10px 5px;
			    font-size:0;
			    img{
			    	vertical-align: middle;
				    max-width: 100%;
				    max-height: 100%;
			    }
    		}
    	}
    }
}
