@charset "UTF-8";
/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2016-10-18
* Version:0.0.1
* ================================================================== */
html {
  font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, STHeiTi, sans-serif; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.w {
  width: 1204px;
  margin: auto; }

.header {
  width: 100%;
  height: 112px;
  filter: alpha(opacity=100 finishopacity=50 style=1 startx=0, starty=0, finishx=0, finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#cfcfcf,endcolorstr=#f5f5f5,gradientType=0);
  -ms-filter: alpha(opacity=100 finishopacity=50 style=1 startx=0, starty=0, finishx=0, finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#cfcfcf,endcolorstr=#f5f5f5,gradientType=0);
  /*IE8*/
  background: url(../images/header_bg.png) repeat-x;
  /* 一些不支持背景渐变的浏览器 */
  background: -moz-linear-gradient(top, #cfcfcf, #f5f5f5);
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#cfcfcf), to(#f5f5f5));
  background: -o-linear-gradient(top, #cfcfcf, #f5f5f5); }
  .header .logo {
    float: left;
    margin-top: 20px;
    font-size: 0; }
    .header .logo img {
      width: 100%;
      height: auto; }
  .header .nav {
    margin-left: 205px; }
    .header .nav li {
      float: left; }
      .header .nav li a {
        display: block;
        width: 142px;
        height: 112px;
        text-align: center;
        text-decoration: none;
        color: #363636;
        font: 18px/112px "Microsoft YaHei","Helvetica Neue"; }
    .header .nav .active {
      background-color: #454545; }
      .header .nav .active a {
        color: #fff; }

.headerActive {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 66px; }
  .headerActive .logo {
    float: left;
    margin-top: 5px;
    font-size: 0; }
    .headerActive .logo img {
      width: 100%;
      height: auto; }
  .headerActive .nav {
    margin-left: 205px; }
    .headerActive .nav li {
      float: left; }
      .headerActive .nav li a {
        display: block;
        width: 142px;
        height: 66px;
        text-align: center;
        text-decoration: none;
        color: #363636;
        font: 18px/66px "Microsoft YaHei","Helvetica Neue"; }

.footer {
  padding: 36px 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #282828; }
  .footer .footer-top {
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #666; }
    .footer .footer-top img {
      float: left;
      margin-left: 100px; }
    .footer .footer-top .right {
      margin: 30px 0 10px 220px; }
    .footer .footer-top dl {
      margin: 0 auto;
      height: auto;
      overflow: hidden;
      padding-bottom: 20px; }
      .footer .footer-top dl dt {
        float: left;
        color: #666;
        font: 14px/1.2 "Microsoft YaHei","Helvetica Neue"; }
      .footer .footer-top dl dd {
        float: left;
        margin: 0 10px; }
      .footer .footer-top dl a {
        text-decoration: none;
        color: #666;
        font: 14px/1.2 "Microsoft YaHei","Helvetica Neue"; }
    .footer .footer-top ul {
      margin: 0 auto;
      height: auto;
      overflow: hidden;
      padding-bottom: 20px; }
      .footer .footer-top ul li {
        float: left;
        margin: 0 10px; }
      .footer .footer-top ul a {
        text-decoration: none;
        color: #666;
        font: 14px/1.2 "Microsoft YaHei","Helvetica Neue"; }
  .footer .footer-bottom {
    height: auto;
    overflow: hidden;
    text-align: center;
    padding-top: 20px; }
    .footer .footer-bottom p {
      color: #666;
      font: 14px/1.2 "Microsoft YaHei","Helvetica Neue"; }
      .footer .footer-bottom p a {
        color: #666;
        font: 14px/1.2 "Microsoft YaHei","Helvetica Neue";
        text-decoration: none; }
    .footer .footer-bottom a {
      text-decoration: none;
      margin: 15px 2px;
      font-size: 0;
      display: inline-block; }

.contarner {
  width: 100%;
  height: auto;
  overflow: hidden; }

.brand {
  width: 100%;
  height: auto;
  background-color: #fff;
  overflow: hidden; }
  .brand .brand-top {
    position: relative;
    padding: 30px 0;
    margin: 0 auto;
    width: 1168px; }
    .brand .brand-top .text {
      position: absolute;
      top: 90px;
      left: 0;
      right: 0;
      bottom: 0; }
      .brand .brand-top .text h2 {
        font: 36px/2  "Microsoft YaHei","Helvetica Neue";
        color: #fff;
        text-align: center; }
      .brand .brand-top .text p {
        font: 16px/1.5  "Microsoft YaHei","Helvetica Neue";
        color: #fff;
        text-align: center; }
      .brand .brand-top .text a {
        margin: 48px auto 0;
        display: block;
        width: 172px;
        height: 58px;
        border: 1px solid #fff;
        font: 16px/58px "Microsoft YaHei","Helvetica Neue";
        color: #fff;
        text-align: center;
        text-decoration: none; }
  .brand .brand-foot {
    padding: 40px 0 80px; }
    .brand .brand-foot > h2 {
      font: 36px/1.5  "Microsoft YaHei","Helvetica Neue";
      color: #010101;
      text-align: center; }
    .brand .brand-foot > p {
      font: 18px/2  "Microsoft YaHei","Helvetica Neue";
      color: #333;
      text-align: center; }
    .brand .brand-foot ul {
      padding: 60px 0 40px;
      margin: 0 auto;
      width: 810px;
      height: auto;
      overflow: hidden; }
      .brand .brand-foot ul li {
        float: left;
        width: 270px;
        text-align: center; }
        .brand .brand-foot ul li h3 {
          font: 24px/2  "Microsoft YaHei","Helvetica Neue";
          color: #333;
          text-align: center; }
        .brand .brand-foot ul li p {
          font: 12px/1.5  "Microsoft YaHei","Helvetica Neue";
          color: #333;
          text-align: center; }
    .brand .brand-foot .img {
      margin: 50px auto;
      width: 925px; }

.me-link {
  padding: 70px 0 20px;
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
  overflow: hidden; }
  .me-link h2 {
    font: 36px/1.5  "Microsoft YaHei","Helvetica Neue";
    color: #010101;
    text-align: center; }
  .me-link p {
    font: 18px/2  "Microsoft YaHei","Helvetica Neue";
    color: #333;
    text-align: center; }
  .me-link .link-list {
    position: relative;
    padding-top: 50px;
    margin: 0 auto;
    width: 948px; }
    .me-link .link-list ul {
      position: absolute;
      top: 90px; }
      .me-link .link-list ul li {
        margin-bottom: 10px;
        float: left;
        width: 158px;
        height: 80px; }
        .me-link .link-list ul li a {
          display: block;
          width: 100%;
          height: 100%; }
  .me-link .we-media-list {
    margin: 50px auto;
    width: 1280px;
    height: auto;
    overflow: hidden; }
    .me-link .we-media-list ul li {
      position: relative;
      float: left;
      width: 256px;
      height: 364px; }
      .me-link .we-media-list ul li .text {
        position: absolute;
        top: 28px;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center; }
        .me-link .we-media-list ul li .text h3 {
          margin: 25px 0;
          font: 26px/2 "Microsoft YaHei","Helvetica Neue";
          color: #fff; }
        .me-link .we-media-list ul li .text p {
          font: 14px/2 "Microsoft YaHei","Helvetica Neue";
          color: #fff; }
        .me-link .we-media-list ul li .text a {
          margin: 50px auto 0;
          width: 140px;
          height: 44px;
          font: 18px/2 "Microsoft YaHei","Helvetica Neue";
          color: #fff;
          border: 1px solid #fff;
          display: block;
          text-decoration: none; }

.cooperation {
  padding: 80px 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  overflow: hidden; }
  .cooperation > h2 {
    font: 36px/1.5  "Microsoft YaHei","Helvetica Neue";
    color: #010101;
    text-align: center; }
  .cooperation > p {
    font: 18px/2  "Microsoft YaHei","Helvetica Neue";
    color: #333;
    text-align: center; }
  .cooperation ul {
    padding-top: 50px;
    margin: 0 auto;
    width: 912px;
    height: auto;
    overflow: hidden; }
    .cooperation ul li {
      margin: 0 20px;
      float: left;
      width: 264px; }
      .cooperation ul li h4 {
        margin: 0 auto;
        width: 150px;
        height: 30px;
        font: 16px/30px  "Microsoft YaHei","Helvetica Neue";
        color: #333;
        text-align: center;
        background: #fdd427; }
      .cooperation ul li .text {
        padding: 40px 30px;
        margin-top: 20px;
        height: 300px;
        border: 1px solid #010101;
        text-align: center; }
        .cooperation ul li .text .img {
          width: 100%;
          height: 115px;
          margin-bottom: 10px;
          vertical-align: middle;
          display: table-cell; }
          .cooperation ul li .text .img img {
            width: 100%; }
        .cooperation ul li .text .img3 {
          height: 115px;
          margin-bottom: 10px; }
        .cooperation ul li .text p {
          text-align: left;
          font: 12px/1.5 "Microsoft YaHei","Helvetica Neue";
          color: #333; }
  .cooperation .we-list {
    margin: 0 auto;
    width: 840px;
    height: auto;
    overflow: hidden; }
    .cooperation .we-list li {
      margin: 40px 15px;
      float: left;
      width: 138px;
      display: inline-block;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 20px 0 36px;
      -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.09);
      box-shadow: 0 15px 40px rgba(0, 0, 0, 0.09); }
      .cooperation .we-list li .img {
        display: block;
        margin: 0 auto;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        font-size: 0;
        overflow: hidden; }
        .cooperation .we-list li .img img {
          width: 100%;
          height: 100%; }
      .cooperation .we-list li p {
        font: 16px/2  "Microsoft YaHei","Helvetica Neue";
        margin-top: 25px;
        font-weight: 400;
        text-align: center; }

.influence {
  padding: 70px 0 100px;
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
  overflow: hidden; }
  .influence > h2 {
    font: 36px/1.5  "Microsoft YaHei","Helvetica Neue";
    color: #010101;
    text-align: center; }
  .influence > p {
    font: 18px/2  "Microsoft YaHei","Helvetica Neue";
    color: #333;
    text-align: center; }
  .influence > h4 {
    margin: 40px auto 20px;
    width: 100px;
    height: 30px;
    font: 16px/30px "Microsoft YaHei","Helvetica Neue";
    color: #333;
    text-align: center;
    background: #fdd427; }
  .influence > ul {
    padding-top: 50px;
    margin: 0 auto;
    width: 768px;
    height: auto;
    overflow: hidden; }
    .influence > ul li {
      margin: 0 23px;
      float: left;
      width: 146px; }
      .influence > ul li .img {
        width: 100%; }
        .influence > ul li .img img {
          width: 100%; }
  .influence .media {
    position: relative;
    margin: 0 auto;
    width: 730px; }
    .influence .media .list-top {
      position: absolute;
      top: 20px;
      left: 40px; }
      .influence .media .list-top li {
        float: left;
        width: 130px;
        height: 50px; }
        .influence .media .list-top li a {
          display: block;
          width: 100%;
          height: 100%; }
    .influence .media .list-bottom {
      position: absolute;
      top: 70px;
      left: 160px; }
      .influence .media .list-bottom li {
        float: left;
        width: 100px;
        height: 50px; }
        .influence .media .list-bottom li a {
          display: block;
          width: 100%;
          height: 100%; }
      .influence .media .list-bottom .li4 {
        width: 150px; }
  .influence .we-media-case {
    padding-top: 50px;
    padding-bottom: 80px;
    margin: 0 auto;
    width: 1024px;
    height: auto;
    overflow: hidden; }
    .influence .we-media-case li {
      margin: 0 20px;
      float: left;
      width: 268px; }
      .influence .we-media-case li h4 {
        margin: 40px auto 20px;
        width: 120px;
        height: 30px;
        font: 16px/30px "Microsoft YaHei","Helvetica Neue";
        color: #333;
        text-align: center;
        background: #fdd427; }
      .influence .we-media-case li .text {
        height: 325px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #fff;
        -webkit-box-shadow: 0 28px 62px rgba(0, 0, 0, 0.09);
        box-shadow: 0 28px 62px rgba(0, 0, 0, 0.09);
        border-radius: 6px;
        padding: 50px 18px 28px; }
        .influence .we-media-case li .text .img {
          margin: 0 auto;
          width: 103px;
          height: 103px;
          display: block;
          border-radius: 100%;
          overflow: hidden; }
          .influence .we-media-case li .text .img img {
            width: 100%;
            height: 100%; }
        .influence .we-media-case li .text h5 {
          margin-bottom: 20px;
          font: 16px/3 "Microsoft YaHei","Helvetica Neue";
          color: #333;
          text-align: center; }
        .influence .we-media-case li .text p {
          font: 12px/1.5 "Microsoft YaHei","Helvetica Neue";
          color: #9d9d9d; }
  .influence > h3 {
    margin: 40px auto 20px;
    width: 180px;
    height: 48px;
    font: 16px/48px  "Microsoft YaHei","Helvetica Neue";
    color: #333;
    text-align: center;
    background: #fdd427; }

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 3;
  background: #000;
  filter: alpha(opacity=80);
  -moz-opacity: .8;
  opacity: .8; }

.brand-submit {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  z-index: 4;
  padding: 20px;
  width: 370px;
  height: 432px;
  margin: -216px 0 0 -185px;
  background: #fff;
  overflow: hidden;
  border-radius: 5px; }
  .brand-submit > button {
    background: none;
    border: none;
    outline: none;
    margin: 0 auto;
    display: block;
    width: 70%;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    background: #fedf5f;
    background: -webkit-linear-gradient(top, #fedf5f 0%, #e3b806 100%);
    background: linear-gradient(to bottom, #fedf5f 0%, #e3b806 100%);
    box-shadow: 1px 1px 1px #cca400,-1px 1px 1px #cca400;
    font: 14px/40px "Microsoft YaHei","Helvetica Neue";
    color: #333;
    cursor: pointer; }

.submit-list .item {
  width: 100%;
  height: 30px;
  margin-bottom: 20px; }
  .submit-list .item .img {
    float: left;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    display: table-cell;
    vertical-align: middle; }
    .submit-list .item .img img {
      width: 100%; }
  .submit-list .item p {
    float: left;
    width: 80px;
    font: 14px/30px "Microsoft YaHei","Helvetica Neue";
    color: #333; }
  .submit-list .item .p-r {
    width: auto; }
  .submit-list .item .input-line {
    float: left;
    border-bottom: 1px solid #999;
    width: 180px;
    height: 26px; }
    .submit-list .item .input-line input {
      width: 100%;
      height: 100%;
      background: none;
      border: none;
      outline: none; }

.back-top {
  position: fixed;
  top: 300px;
  right: 10px;
  z-index: 2; }
  .back-top .qq {
    position: relative;
    padding: 5px 10px 0;
    background: rgba(249, 185, 10, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7ff9b90a,endColorstr=#7ff9b90a); }
    .back-top .qq > a {
      padding-bottom: 50px;
      width: 29px;
      height: 34px;
      display: block;
      background-image: url("../images/wasp.png");
      background-repeat: no-repeat;
      background-position: 0 -30px;
      border-bottom: 1px solid #fff;
      text-decoration: none; }
    .back-top .qq .list {
      position: absolute;
      top: 0;
      right: 50px;
      padding: 0 10px;
      display: none;
      width: 112px;
      background-color: #464646; }
      .back-top .qq .list ul li {
        text-align: center;
        border-bottom: 1px solid #fff;
        overflow: hidden; }
        .back-top .qq .list ul li:last-child {
          border: none; }
        .back-top .qq .list ul li i {
          margin: 15px 10px 0 0;
          display: block;
          width: 14px;
          height: 16px;
          background-image: url("../images/wasp.png");
          background-repeat: no-repeat;
          background-position: -74px -52px;
          float: left; }
        .back-top .qq .list ul li a {
          float: left;
          text-decoration: none;
          color: #fff;
          font: 14px/46px "Microsoft YaHei","Helvetica Neue"; }
      .back-top .qq .list ul .on i {
        background-position: -91px -52px; }
      .back-top .qq .list ul .on a {
        color: #fdd427; }
      .back-top .qq .list:before {
        content: "";
        position: absolute;
        top: 20px;
        right: -20px;
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent transparent #464646; }
  .back-top .active.qq {
    background: rgba(249, 185, 10, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8f9b90a,endColorstr=#C8f9b90a); }
    .back-top .active.qq > a {
      border-bottom: none; }
    .back-top .active.qq .list {
      display: block; }
  .back-top .top {
    background: rgba(249, 185, 10, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7ff9b90a,endColorstr=#7ff9b90a);
    overflow: hidden; }
    .back-top .top a {
      margin: 5px auto;
      width: 32px;
      height: 19px;
      display: block;
      background-image: url("../images/wasp.png");
      background-repeat: no-repeat;
      background-position: -666px 0; }
  .back-top .active.top {
    background: rgba(249, 185, 10, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8f9b90a,endColorstr=#C8f9b90a); }

/*# sourceMappingURL=brand.css.map */
