@charset "UTF-8";
/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2016-10-18
* Version:0.0.1
* ================================================================== */
html {
  font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, STHeiTi, sans-serif; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.w {
  width: 1204px;
  margin: auto; }

.header {
  width: 100%;
  height: 112px;
  filter: alpha(opacity=100 finishopacity=50 style=1 startx=0, starty=0, finishx=0, finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#dadada,endcolorstr=#f4f4f4,gradientType=0);
  -ms-filter: alpha(opacity=100 finishopacity=50 style=1 startx=0, starty=0, finishx=0, finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#dadada,endcolorstr=#f4f4f4,gradientType=0);
  /*IE8*/
  background: #dadada;
  /* 一些不支持背景渐变的浏览器 */
  background: -moz-linear-gradient(top, #dadada, #f4f4f4);
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#dadada), to(#f4f4f4));
  background: -o-linear-gradient(top, #dadada, #f4f4f4); }
  .header .logo {
    float: left;
    margin-top: 17px;
    font-size: 0; }
    .header .logo img {
      width: 100%;
      height: auto; }
  .header .nav {
    margin-left: 245px; }
    .header .nav li {
      float: left; }
      .header .nav li a {
        display: block;
        width: 137px;
        height: 112px;
        text-align: center;
        text-decoration: none;
        color: #363636;
        font: 18px/120px "Microsoft YaHei","Helvetica Neue"; }
    .header .nav .active {
      background-color: #747474; }
      .header .nav .active a {
        color: #fff; }

.footer {
  background-color: #282828; }

.contarner {
  width: 100%;
  height: auto;
  overflow: hidden; }

.banner {
  position: relative;
  width: 100%; }
  .banner img {
    width: 100%; }
  .banner .login {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin-left: -602px;
    margin-top: -180px; }
    .banner .login .login-container {
      position: absolute;
      right: 0;
      background-color: #fff;
      padding: 20px;
      width: 384px;
      height: 360px;
      overflow: hidden; }
      .banner .login .login-container ul {
        position: relative;
        width: 100%;
        height: 56px; }
        .banner .login .login-container ul li {
          float: left;
          width: 50%;
          text-align: center;
          color: #8a8a8a;
          font: 16px/56px "Microsoft YaHei","Helvetica Neue";
          cursor: pointer; }
        .banner .login .login-container ul .active {
          font: bold 18px/56px "Microsoft YaHei","Helvetica Neue";
          color: #555; }
        .banner .login .login-container ul .line {
          position: absolute;
          width: 36%;
          height: 3px;
          background-color: #edb60c;
          left: 7%;
          bottom: 0;
          -moz-transition: left .5s;
          /* Firefox 4 */
          -webkit-transition: left .5s;
          /* Safari 和 Chrome */
          -o-transition: left .5s;
          /* Opera */
          transition: left .5s; }
      .banner .login .login-container .login-list .form {
        display: none; }
        .banner .login .login-container .login-list .form .input-list {
          width: 100%;
          height: 46px;
          background-color: #eee;
          margin-top: 20px; }
          .banner .login .login-container .login-list .form .input-list i {
            margin: 10px 10px 0;
            width: 27px;
            height: 27px;
            float: left;
            display: block;
            background-image: url("../images/wasp.png");
            background-repeat: no-repeat; }
          .banner .login .login-container .login-list .form .input-list input {
            float: left;
            width: 280px;
            height: 100%;
            background: none;
            border: none;
            outline: none;
            font: 16px/46px "Microsoft YaHei","Helvetica Neue"; }
        .banner .login .login-container .login-list .form .name i {
          background-position: -105px 0; }
        .banner .login .login-container .login-list .form .password i {
          background-position: -142px 0; }
        .banner .login .login-container .login-list .form .btn {
          margin-top: 20px;
          width: 344px;
          height: auto;
          overflow: hidden; }
          .banner .login .login-container .login-list .form .btn a {
            float: left;
            display: block;
            width: 162px;
            text-decoration: none;
            text-align: center;
            font: 16px/46px "Microsoft YaHei","Helvetica Neue"; }
          .banner .login .login-container .login-list .form .btn .login-btn {
            background-color: #f9b90a;
            color: #1f1f1f; }
          .banner .login .login-container .login-list .form .btn .register-btn {
            margin-left: 20px;
            color: #fab115;
            border: 2px solid #fab115;
            line-height: 42px; }
        .banner .login .login-container .login-list .form .forget-password {
          margin-top: 10px;
          width: 100%;
          height: auto;
          overflow: hidden;
          font: 14px/1.5 "Microsoft YaHei","Helvetica Neue"; }
          .banner .login .login-container .login-list .form .forget-password span {
            color: #a0a0a0; }
            .banner .login .login-container .login-list .form .forget-password span input {
              vertical-align: middle; }
          .banner .login .login-container .login-list .form .forget-password a {
            color: #a0a0a0;
            float: right;
            text-decoration: none; }
        .banner .login .login-container .login-list .form .third-party {
          margin-top: 10px;
          height: auto;
          overflow: hidden;
          float: right; }
          .banner .login .login-container .login-list .form .third-party a {
            width: 29px;
            height: 28px;
            float: left;
            display: block;
            background-image: url("../images/wasp.png");
            background-repeat: no-repeat;
            margin-left: 10px; }
          .banner .login .login-container .login-list .form .third-party .Wechat {
            background-position: 0 0; }
          .banner .login .login-container .login-list .form .third-party .microblog {
            background-position: -34px 0; }
          .banner .login .login-container .login-list .form .third-party .qq {
            background-position: -70px 0; }

.icon-list {
  width: 100%;
  padding: 30px 0;
  height: auto;
  overflow: hidden; }
  .icon-list .list-text {
    float: left;
    width: 160px;
    margin: 20px 40px;
    text-align: center;
    padding: 30px 20px;
    cursor: pointer;
    border: 1px solid #fff;
    -moz-transition: all .5s;
    /* Firefox 4 */
    -webkit-transition: all .5s;
    /* Safari 和 Chrome */
    -o-transition: all .5s;
    /* Opera */
    transition: all .5s; }
    .icon-list .list-text .top {
      padding: 26px;
      margin: 0 auto;
      border: 1px solid #f9b90a;
      border-radius: 100%; }
      .icon-list .list-text .top i {
        display: block;
        width: 68px;
        height: 68px;
        background-image: url("../images/wasp.png");
        background-repeat: no-repeat; }
    .icon-list .list-text h2 {
      font: 16px/2.4 "Microsoft YaHei","Helvetica Neue";
      color: #545454; }
    .icon-list .list-text p {
      font: 12px/1.5 "Microsoft YaHei","Helvetica Neue";
      color: #9a9a9a; }
  .icon-list .effect .top i {
    background-position: -10px -48px; }
  .icon-list .praise .top {
    padding: 26px 17px; }
    .icon-list .praise .top i {
      background-position: -102px -48px;
      width: 86px; }
  .icon-list .directional .top {
    padding: 22.5px; }
    .icon-list .directional .top i {
      width: 75px;
      height: 75px;
      background-position: -210px -46px; }
  .icon-list .marketing .top {
    padding: 17.5px 23.5px; }
    .icon-list .marketing .top i {
      width: 77px;
      height: 85px;
      background-position: -340px -35px; }
  .icon-list .data .top i {
    background-position: -458px -48px; }
  .icon-list .active {
    border: 1px solid #efefef;
    -moz-box-shadow: -5px 0 5px #f2f2f2, 5px 0 5px #f2f2f2, 0 0 2px #f2f2f2, 0 5px 5px #f2f2f2;
    /*底边阴影*/
    -webkit-box-shadow: -5px 0 5px #f2f2f2, 5px 0 5px #f2f2f2, 0 0 2px #f2f2f2, 0 5px 5px #f2f2f2;
    /*底边阴影*/
    box-shadow: -5px 0 5px #f2f2f2, 5px 0 5px #f2f2f2, 0 0 2px #f2f2f2, 0 5px 5px #f2f2f2;
    /*底边阴影*/ }
  .icon-list .effect.active .top {
    background-color: #f9b90a; }
    .icon-list .effect.active .top i {
      background-position: -10px -125px; }
  .icon-list .praise.active .top {
    padding: 26px 17px;
    background-color: #f9b90a; }
    .icon-list .praise.active .top i {
      background-position: -102px -125px;
      width: 86px; }
  .icon-list .directional.active .top {
    padding: 22.5px;
    background-color: #f9b90a; }
    .icon-list .directional.active .top i {
      width: 75px;
      height: 75px;
      background-position: -210px -120px; }
  .icon-list .marketing.active .top {
    padding: 17.5px 23.5px;
    background-color: #f9b90a; }
    .icon-list .marketing.active .top i {
      width: 77px;
      height: 85px;
      background-position: -340px -120px; }
  .icon-list .data.active .top {
    background-color: #f9b90a; }
    .icon-list .data.active .top i {
      background-position: -458px -125px; }

.live-telecast {
  margin-top: 30px;
  padding: 20px 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: url("../images/live_telecast_bg.png") no-repeat; }

/*# sourceMappingURL=index.css.map */
